@charset "utf-8";

html {
	margin:0;
	padding:0;
}

body {
	color:#300;
	font-size:16px;
	font-family:黑体,微软亚黑;
	padding:0;
	margin:0;
}

a,a:link,a:visited,a:hover {
	color:#300;
	text-decoration:none;
}

#container {
	width:1000px;
	margin:0 auto;
	background:url(images/bg2.jpg) no-repeat;
}

h1 {
	font-size:24px;
	font-family:黑体,微软亚黑;
	color:#060;
	margin-left:350px;
	margin-top:140px;
	margin-bottom:100px;
}

#left {
	float:left;
	width:260px;
	margin-left:30px
}

ul {
	margin:0;
	padding:0;
}

#right {
	float:left;
	width:620px;
	margin-left:8px;
}

h2,#date {
	text-align:center;
}

#date,#content {
	font-weight:normal;
	font-family:宋体;
}

#content {
	margin-top:20px;
}

